[submodule "dbms-backend"]
	path = dbms-backend
	url = https://github.com/dineshdb/dbms-backend.git
[submodule "dbms-frontend"]
	path = dbms-frontend
	url = https://github.com/dineshdb/dbms-frontend.git
